* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  --primary: #BEDBBB;
  --secondary: #8DB596;
  --grey: #92817A;
  --dark:  #707070;
}

.jumbotron {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--dark);
}

.jumbotron h1 {
  font-size: 80px;
  font-weight: bold;
  color: var(--primary);
}

.card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: center;
}

.card img {
  height: 200px;
  width: 200px;
}

#display {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: var(--grey); /* Fallback color */
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--secondary);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

span {
  position: absolute;
  top: 0;
  right: 0;
}

